@page

@model onlineclothing2.Models.Checkout

@*@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor*@

@*@{
    List<Add> products = HttpContextAccessor.HttpContext.Session.Get<List<Add>>("products");
    if (products == null)
    {
        products = new List<Add>();
    }
}*@
@{
    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
        <strong>Success!</strong>@TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
        </button>
        </div>
    }

}

 <div class="content-body">

                   <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card" style="margin-top:150px;">
                            <div class="card-body">
                                <div class="card-title">
                                    
                                </div>
                                <div class="form-validation">
                                    <form class="form-valide" method="post" asp-controller="Porder" asp-action="order" enctype="multipart/form-data" style="width:50%; margin-left:450px">
                                    <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Full name:
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="hidden" class="from-control" name="id" />
                                                <input type="text" class="form-control" id="val-username" name="fullname">
                                            </div>
                                        </div>
                                       
                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">Phone:
                                            </label>
                                            <div class="col-lg-6">
                                                 <input type="text" class="form-control" id="val-username" name="phone">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Delivery Address:
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-email" name="delivery">
                                            </div>
                                        </div>
                                         @*<div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Total:</label>
                                            
                                        </div>*@
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Payment Method:</label>
                                            <div class="col-lg-6">
                                                @*<input type="checkbox" id="myCheckbox2" name="payment" />
                                                 <label for="myCheckbox2"><img style="height:40px; width:50px;" src="/style/images/esewa.png" /></label>
                                                  <input type="checkbox" id="myCheckbox3" />*@
                                                 <label for="myCheckbox3"><img src="" />Only Cash on delivery is accepted</label>
                                               
                                               </div>
                                        </div>
                                         
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary" style="background-color:#32CD32;" value="" asp-controller="Home" asp-action="Index"> Go back</button>
                                                <button type="submit" class="btn btn-primary" style="background-color:#32CD32;" value="" asp-controller="Porder" asp-action="orderplaced"> Place order</button>
                                            </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                           </div>
                        </div>
                      </div>
                    </div>