@model onlineclothing2.Models.Add	
@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/style/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/style/css/font-awesome.min.css" type="text/css" media="all" />

<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="~/style/js/jquery-1.11.1.min.js"></script>
<script src="~/style/js/bootstrap.js"></script>
</head>
<div class="banner-agile">
	<div class="container">
		
		
		<h2>The most trusted reliable fashion hub all over nepal</h2>
		<h3>Explore Site<span>CLUB</span></h3>
		<p>Limitless show Your Style. Shop from anywhere anyplace </p>
		<a href="about.html">Read More</a>
	</div>
</div>
<div class="banner-bootom-w3-agileits">
	<div class="container">
		@{
			int i = 1;
		}
		@foreach(var p in ViewBag.d)
	{
		
				<div class="col-md-4 women-grids wp1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="product-img">
						<img src="@p.imgpath" asp-append-version="true"/> 
						
						<div class="p-mask">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" /> 
								<input type="hidden" name="w3ls1_item" value="" /> 
								<input type="hidden" name="amount" value="50.00" /> 
								<button type="submit" class="w3ls-cart pw3ls-cart"  asp-controller="Single" asp-action="Singlepics" asp-route-id="@p.id"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
							</form>
						</div>

					</div>
					
					<h4>@p.name</h4>
					<h5>RS @p.price</h5>
				</div>
				i++;
				}

	</div>
</div>
