@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/style/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/style/css/font-awesome.min.css" type="text/css" media="all" />

<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="~/style/js/jquery-1.11.1.min.js"></script>
<script src="~/style/js/bootstrap.js"></script>
</head>
<div class="banner-agile">
	<div class="container">
		
		
		<h2>The most trusted reliable fashion hub all over nepal</h2>
		<h3>Explore Site<span>CLUB</span></h3>
		<p>Limitless show Your Style. Shop from anywhere anyplace </p>
		<a href="about.html">Read More</a>
	</div>
</div>
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="women.html"><div class="bb-left-agileits-w3layouts-inner">
					<h3>SALE</h3>
					<h4>upto<span>75%</span></h4>
			</div></a>
		</div>
		<div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
			<a href="shoes.html"><div class="bb-middle-top">
				<h3>SALE</h3>
				<h4>upto<span>55%</span></h4>
			</div></a>
			<a href="jewellery.html"><div class="bb-middle-bottom">
				<h3>SALE</h3>
				<h4>upto<span>65%</span></h4>
			</div></a>
		</div>
		<div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
			<a href="watches.html"><div class="bb-right-top">
				<h3>SALE</h3>
				<h4>upto<span>50%</span></h4>
			</div></a>
			<a href="handbags.html"><div class="bb-right-bottom">
				<h3>SALE</h3>
				<h4>upto<span>60%</span></h4>
			</div></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
